.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.weight-normal {
  font-weight: normal;
}

.screen-reader-text {
  font-size: 1px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.full-width {
  width: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.half-width {
  width: 50%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-margins {
  margin: 0;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.menu-item {
  pointer-events: auto;
  cursor: auto;
}

a.no-link:hover,
a.no-link:focus {
  text-decoration: none;
}

.link-not-active {
   pointer-events: none;
   cursor: default;
}